html{
    height:100%;
}
body{
    font-family: 'Baloo Tamma', cursive;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    box-shadow: 5px 10px #888888;
}
/* For mobile phones: */
/*@media only screen and (max-width: 798px) {*/
    /*[master*="col-"] {*/
    /*}*/
    /*width: 100%;*/
/*}*/
@media only screen and (max-width:790px) {
    body {
        display: none;
    }
}
.master{
    background-color: #FFFFFF;
    width: 95%;
    height: 600px;
    border-radius: 20px;
    margin: 60px auto;
}
.head{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tLeft{
    display: flex;
    width: 25%;
}
.logo{
    font-size: 12px;
    margin-right: 50px;
    margin-top: 15px;
}
.tRight{
    display:flex;
    align-items: center;
    width: 60%;
}
.Navigation{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.Navigation a{
    text-decoration: none;
    font-size: 24px;
    color: #7c869e;
}
h3{
    text-align: right;
    margin-right: 330px;
}
.head2{
    display: flex;
    justify-content: flex-start;
    /*align-items: flex-start;*/
}
.sidebar {
    background-color: lightpink;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    margin-left: 25px;
}
.sidebar a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 20px;
}

.main2{
    display: flex;
    flex-direction: column;
}

.burger1, .burger2 {
    display: flex;
    align-items: center;
}

/*.content{*/
    /*display: flex;*/
    /*flex-direction: center;*/

/*.btn{*/
/*background-color: #4081eb;*/
/*color: #FFFFFF;*/
/*padding: 15px 30px;*/
/*border-radius: 20px;*/
/*border: none;*/
/*}*/
.left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.left2{
    margin-left: 70px;

}
.right2{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 40px;
}
footer{
    background-color: darkseagreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}