body {
  font-family: "Baloo Tamma", cursive; }

body, html {
  height: 100%; }

.navbar {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 40px 0px #140c24;
  -moz-box-shadow: 5px 5px 40px 0px #140c24;
  box-shadow: 5px 5px 40px 0px #140c24;
  margin: 0 5px 10px 10px;
  background-color: #EA640E; }
  .navbar a {
    text-decoration: none;
    color: #140C24; }
  .navbar .dropdown-menu {
    background-color: #F5A64A; }

h2 {
  text-align: center;
  color: #EA640E; }

.mapouter {
  border-radius: 10px;
  position: center; }

footer {
  background-color: #EA640E;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 40px 0px #140c24;
  -moz-box-shadow: 5px 5px 40px 0px #140c24;
  box-shadow: 5px 5px 40px 0px #140c24;
  margin: 5px 5px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer nav {
    font-size: 18px;
    color: #140C24; }
